.anuncio{
    background-color: #F4FE80;
    padding: 2px;
    p{
        text-align: start;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 13px;
        span{
            font-weight: bold;
        }
    }
}